<div class="layout-container">

  <header role="banner">
    <div class="container">
    {{ page.header }}
    </div>
  </header>

  {{ page.primary_menu }}
  {{ page.subheader_left}}

  <main role="main">
  <div class="container">
      <div class="row">

        <div class="layout-content col-lg-9">
        <div class="content-container">
          {{ page.content }}
          </div>
        </div>{# /.layout-content #}

        {% if page.sidebar %}
        <div class="layout-sidebar col-lg-3" role="complementary">
        <div class="sidebar-container">
          {{ page.sidebar }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
