<div class="layout-container">

  <header role="banner">
    <div class="container">
      {{ page.header }}
    </div>
  </header>

  {{ page.primary_menu }}
  <div class="container">
    <div class="row mb-4 mt-4">
      <div class="col-lg-6">
        <div class="subheader">
        {{page.subheader_left}}
        </div>
      </div>
      <div class="col-lg-6">
      <div class="subheader">
        {{ page.subheader_right}}
        </div>
      </div>
    </div>
  </div>

  <main role="main">
    <div class="container">
      <div class="row">

        <div class="layout-content col-lg-9">
        <div class="content-container">
          {{ page.content }}
          </div>
        </div>{# /.layout-content #}

        {% if page.sidebar %}
        <div class="layout-sidebar col-lg-3" role="complementary">
        <div class="sidebar-container">
          {{ page.sidebar }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </main>

  {% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
  {% endif %}

</div>{# /.layout-container #}
